.col-md-6.col-md-offset-3
  .jumbotron
    h1 Taski
    p An application that helps you organize your life!
    .btn-toolbar(role="toolbar")
      .btn-group(role="group")
        span
          a.btn.btn-primary.btn-lg(href="#", role="button") Sign Up
      .btn-group(role="group")
        span
          a.btn.btn-primary.btn-lg(href="#login", role="button") Login
