doctype
html
  head
    script(type="text/javascript", src="public/js/jquery.js")
    script(type="text/javascript", src="public/js/angular.js")
    script(type="text/javascript", src="public/js/angular-route.js")
    script(type="text/javascript", src="public/js/bootstrap.js")
    script(type="text/javascript", src="public/js/ronalag.taski.model.taski.js")
    link(rel="stylesheet", href="public/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="public/bootstrap/css/bootstrap-theme.css")
    script(type="text/javascript", src="public/bootstrap/js/bootstrap.js")
  body(data-ng-app="Taski")
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-default(ng-controller="navigation")
            .container-fluid
              .navbar-header
                a.navbar-brand(href="#/") Taski
              ul.nav.navbar-nav.navbar-right
                li.dropdown(ng-show="isUserMenuVisible")
                  a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") 
                    span.glyphicon.glyphicon-user
                      span.caret
                  ul.dropdown-menu
                    li
                      a(href="#", ng-click="logout()") Sign outs
      .row
        .col-md-12
        div(data-ng-view="")
    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel" aria-hidden="true", ng-controller="task")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3#myModalLabel Modal Header
            .modal-body
              p One fine body      
            .modal-footer
              button.btn(data-dismiss="modal", aria-hidden="true") Close
              button.btn.btn-primary Save changes
        
