.col-md-6.col-md-offset-3
  .jumbotron
    h1 Taski
    form
      .form-group
        label(for="email") Email
        input.form-control#email(type="email", placeholder="email")
      .form-group
        label(for="password") Password
        input.form-control#password(type="password", placeholder="password")

    .btn-group(role="group")
      span
        a.btn.btn-primary.btn-lg(href="#", role="button") Login

    //
      .btn-toolbar(role="toolbar")
        .btn-group(role="group")
          span
            a.btn.btn-primary.btn-lg(href="#", role="button") Sign Up
