.col-md-6.col-md-offset-3(ng-controller="signup")
  .jumbotron
    h1 Taski
    // p.bg-danger(ng-hide="isValidPassword") Invalid username and/or password
    form
      .form-group
        label(for="username") Username
        input.form-control#username(type="text", placeholder="username", ng-model="username")
      .form-group
        label(for="password") Password
        input.form-control#password(type="password", placeholder="password", ng-model="password")
      .form-group
        label(for="repeatPassword") Repeat Password
        input.form-control#repeatPassword(type="password", placeholder="repeatPassword", ng-model="repeatPassword")
      .form-group
        label(for="firstName") First Name
        input.form-control#firstName(type="text", placeholder="firstName", ng-model="firstName")
      .form-group
        label(for="lastName") Last Name
        input.form-control#lastName(type="text", placeholder="lastName", ng-model="lastName")
      .form-group
        label(for="email") Email
        input.form-control#email(type="text", placeholder="email", ng-model="email")
      
    .btn-group(role="group")
      span
        a.btn.btn-primary.btn-lg( role="button" ng-click="signup()") Sign Up
