.col-md-12(ng-controller="tasks")
  form.form-inline
    .form-group
      label(for="title") Title
      input.form-control#title(type="text", placeholder="title")
    button.btn.btn-group(type="submit", ng-click="add()") Add Task

    //.btn-group(role="group")
    //  span
    //    a.btn.btn-primary.btn-lg( role="button" ng-click="addTask()") Add Task

  div(ng-repeat="task in tasks")
    .panel.panel-default
      .panel-body
        {{task.title}}
