doctype
html
  head
    script(type="text/javascript", src="public/js/jquery.js")
    script(type="text/javascript", src="public/js/angular.js")
    script(type="text/javascript", src="public/js/angular-route.js")
    script(type="text/javascript", src="public/js/bootstrap.js")
    script(type="text/javascript", src="public/js/ronalag.taski.model.taski.js")
    link(rel="stylesheet", href="public/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="public/bootstrap/css/bootstrap-theme.css")
    script(type="text/javascript", src="public/bootstrap/js/bootstrap.js")
  body(data-ng-app="Taski")
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-default(ng-controller="navigation")
            .container-fluid
              .navbar-header
                a.navbar-brand(href="#/") Taski
              ul.nav.navbar-nav.navbar-right
                li.dropdown(ng-show="isUserMenuVisible")
                  a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") 
                    span.glyphicon.glyphicon-user
                      span.caret
                  ul.dropdown-menu
                    li
                      a(href="#", ng-click="logout()") Sign out
      .row
        .col-md-12
        div(data-ng-view="")
    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel" aria-hidden="true", ng-controller="task")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h3#myModalLabel(ng-show="!isEditingTitle", ng-click="startEditingTitle()") {{title}}
            .edit-title(ng-show="isEditingTitle")
              input.form-control(type="text", ng-model="newTitle")
              button.btn.btn-success(ng-click="saveNewTitle()") Save
              button.btn.btn-link(ng-click="setOldTitle()") close
          .modal-body
            .container-fluid
              .delete-group(ng-show="showDeletePrompt")
                .alert.alert-danger(role="alert") Are you sure you want to delete this task?
                button.btn.btn-danger(data-dismiss="modal", ng-click="delete()") Yes
                button.btn.btn-default(ng-click="showDeletePrompt = false") No
              .row.task-group(ng-show="!showDeletePrompt")
                .col-xs-9.col-md-8
                  h5 Description
                   span(style="text-decoration: underline;", ng-click="isEditingDescription = true", ng-show="!isEditingDescription") Edit
                  p(ng-show="!isEditingDescription") {{description}}
                  div(ng-show="isEditingDescription")
                    textarea.form-control(ng-model="description", rows="3")
                    button.btn.btn-success(ng-click="update()") Save
                    button.btn.btn-link(ng-click="isEditingDescription = false") close
                .col-xs-1.col-md4
                  button.btn.btn-danger(type="button", data-toggle="popover", data-container="body", data-content="Some content" ng-click="showDeletePrompt = true") Delete Task
          .modal-footer(ng-show="!showDeletePrompt")
            button.btn(data-dismiss="modal", aria-hidden="true") Close
        
